@media (min-width: 43rem) {
  .cardsContainer {
    grid-template-columns: repeat(2, 1fr);
    padding: 50px;
  }

  .navbar {
    padding: 10px 50px;
  }
}

@media (min-width: 62rem) {
  .cardsContainer {
    grid-template-columns: repeat(3, 1fr);
    padding: 50px;
  }

  .navbar {
    padding: 10px 50px;
  }
}

@media (min-width: 82rem) {
  .cardsContainer {
    grid-template-columns: repeat(4, 1fr);
    padding: 50px;
  }

  .navbar {
    padding: 10px 50px;
  }
}
